.App-header {
  background-color: #282c34;
  width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 5%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#users, #loans {
  border: 2px solid black; /* Adjust thickness and color as needed */
  padding: 16px; /* Add some spacing inside the border */
  margin-top: 16px; /* Add space between header and content */
  border-radius: 8px; /* Optional: Rounds the corners */
  background-color: #f9f9f9; /* Optional: Adds a slight background color */
}

userTable, loanTable {
  border: 2px solid black; /* Adjust thickness and color as needed */
  padding: 16px; /* Add some spacing inside the border */
  margin-top: 16px; /* Add space between header and content */
  border-radius: 8px; /* Optional: Rounds the corners */
  background-color: #f9f9f9; /* Optional: Adds a slight background color */
}

.p-4 {
  border: 2px solid black; /* Adjust thickness and color as needed */
  padding: 16px; /* Add some spacing inside the border */
  margin-top: 16px; /* Add space between header and content */
  border-radius: 8px; /* Optional: Rounds the corners */
  background-color: #aeaa8c; /* Optional: Adds a slight background color */
}

